{{ header }}
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="row">
          <div id="shopping-check-out" class="col-md-7 mb-3">
            <div class="row row-cols-1 row-cols-md-2">

              <div class="col mb-3 required">
                <label for="input-name" class="form-label">Your Name</label>
                <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
                <div id="error-name" class="invalid-feedback"></div>
              </div>

              <div class="col mb-3">
                <label for="input-company-name" class="form-label">Company Name</label>
                <input type="text" name="companyname" value="{{ companyname }}" placeholder="{{ entry_companyname }}" id="input-company-name" class="form-control"/>
                <div id="error-company-name" class="invalid-feedback"></div>
              </div>

              <div class="col mb-3 required">
                <label for="input-email-address" class="form-label">E-Mail Address</label>
                <input type="text" name="email_address" value="{{ email_address }}" placeholder="{{ entry_email_address }}" id="input-email-address" class="form-control"/>
                <div id="error-email-address" class="invalid-feedback"></div>
              </div>

              <div class="col mb-3 required">
                <label for="input-contact-number" class="form-label">Contact Number</label>
                <input type="text" name="contact_number" value="{{ contact_number }}" placeholder="{{ entry_contact_number }}" id="input-contact-number" class="form-control"/>
                <div id="error-contact-number" class="invalid-feedback"></div>
              </div>

              <div class="col mb-3 required">
                <label for="input-shipping-address" class="form-label">Address</label>
                <input type="text" name="address" value="{{ address }}" placeholder="{{ entry_address }}" id="input-shipping-address" class="form-control"/>
                <div id="error-shipping-address" class="invalid-feedback"></div>
              </div>

              <div class="col mb-3">
                <label for="input-shipping-description" class="form-label">Description</label>
                <input type="text" name="description" value="{{ description }}" placeholder="{{ entry_description }}" id="input-shipping-description" class="form-control"/>
                <div id="error-shipping-description" class="invalid-feedback"></div>
              </div>
            </div>
          </div>
        <div class="col">
          {#          {% if shipping_method %}#}
          {#            <div id="checkout-shipping-method" class="mb-3">{{ shipping_method }}</div>#}
          {#          {% endif %}#}
          {#          <div id="checkout-payment-method" class="mb-4">{{ payment_method }}</div>#}
          <div id="checkout-confirm">{{ confirm }}</div>
        </div>
        <div class="float-end">
          <button type="button" id="button-send" class="btn btn-primary"><i class="fa-solid fa-envelope"></i> Send </button>
        </div>
      </div>
    </div>
    {{ content_bottom }}
  </div>
  {{ column_right }}
</div>
<script type="text/javascript"><!--
  $('#button-send').on('click', function (e) {
    e.preventDefault();
    var inputName = document.getElementById('input-name').value;
    var inputCompanyName = document.getElementById('input-company-name').value;
    var inputEmailAddress = document.getElementById('input-email-address').value;
    var inputContactNumber = document.getElementById('input-contact-number').value;
    var inputShippingAddress = document.getElementById('input-shipping-address').value;
    var inputShippingDescription = document.getElementById('input-shipping-description').value;
    const textStarts = document.getElementById('checkout-confirm').getElementsByClassName('text-start');
    var productInfo = '';
    for (let i = 1; i < textStarts.length; i++) {
      productInfo = productInfo + textStarts[i].textContent.replace(" ", "").replace("\n", ",")
    }
    $.ajax({
      url: 'index.php?route=mail/consumer&language=en-gb',
      type: 'POST',
      data: {
        inputName: inputName,
        inputCompanyName: inputCompanyName,
        inputEmailAddress: inputEmailAddress,
        inputContactNumber: inputContactNumber,
        inputShippingAddress: inputShippingAddress,
        inputShippingDescription: inputShippingDescription,
        checkoutConfirm: productInfo
      },
      dataType: 'json',
      success: function (data) {
        alert('success!');
        document.location.href='index.php?route=common/home&language=en-gb';
      }
    });
  });
  //--></script>
{{ footer }}

